/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 31, 2018, 12:17:52 AM
    Author     : dikshant
*/

#pane
{
    -fx-background-color: black;
}
#gpane
{
    -fx-background-color: black;
}
#lpane
{
    -fx-background-color: black;
}
#npane
{
    -fx-background-color: black;
}
#rpane
{
    -fx-background-color: black;
}
#fpane
{
    -fx-background-color: black;
}